# Initial Cleaning of Dataset

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# Dropping Features in Dataset

In [2]:
df = pd.read_csv('../../datasets/NFL Play by Play 2009-2018 (v5).csv')

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (42,166,167,168,169,174,175,178,179,182,183,188,189,190,191,194,195,203,204,205,218,219,220,231,232,233,238,240,241,249) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,play_id,game_id,home_team,away_team,posteam,posteam_type,defteam,side_of_field,yardline_100,game_date,...,penalty_player_id,penalty_player_name,penalty_yards,replay_or_challenge,replay_or_challenge_result,penalty_type,defensive_two_point_attempt,defensive_two_point_conv,defensive_extra_point_attempt,defensive_extra_point_conv
0,46,2009091000,PIT,TEN,PIT,home,TEN,TEN,30.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
1,68,2009091000,PIT,TEN,PIT,home,TEN,PIT,58.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
2,92,2009091000,PIT,TEN,PIT,home,TEN,PIT,53.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
3,113,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
4,139,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0

In [6]:
df.shape

(449371, 255)

In [23]:
#df.isnull().sum()

### Drop columns with too many nulls

In [8]:
to_drop = []
for i in df.columns:
    if df[i].isnull().sum() > 100000:
        to_drop.append(i)

In [9]:
df.drop(to_drop, axis = 1, inplace = True)

In [10]:
df.head()

,play_id,game_id,home_team,away_team,posteam,posteam_type,defteam,side_of_field,yardline_100,game_date,...,lateral_reception,lateral_rush,lateral_return,lateral_recovery,return_yards,replay_or_challenge,defensive_two_point_attempt,defensive_two_point_conv,defensive_extra_point_attempt,defensive_extra_point_conv
0,46,2009091000,PIT,TEN,PIT,home,TEN,TEN,30.0,2009-09-10,...,0.0,0.0,0.0,0.0,39.0,0,0.0,0.0,0.0,0.0
1,68,2009091000,PIT,TEN,PIT,home,TEN,PIT,58.0,2009-09-10,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
2,92,2009091000,PIT,TEN,PIT,home,TEN,PIT,53.0,2009-09-10,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
3,113,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
4,139,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0

### Removing WPA (win probability added) and EPA (expected points added) and plays irrelevent to a fourth down attempt

Removing WPA and EPA because these numbers change after the fourth down attempt. If WPA and EPA were not dropped, it would be telling the model the result of the play. Dropped features like qb kneel and spike, extra point and two point conversion because a team would not attempt that on fourth down.

In [11]:
df.drop(columns=['qb_kneel', 'qb_spike', 'total_home_rush_wpa', 'total_away_rush_wpa', 'total_home_pass_wpa', 
                 'total_away_pass_wpa', 'comp_air_wpa', 'comp_yac_wpa', 'total_home_comp_air_wpa',
                 'total_away_comp_air_wpa', 'total_home_comp_yac_wpa', 'total_away_comp_yac_wpa', 'total_home_raw_air_wpa',
                 'total_away_raw_air_wpa', 'total_home_raw_yac_wpa', 'total_away_raw_yac_wpa'], inplace = True)

In [12]:
df.head()

,play_id,game_id,home_team,away_team,posteam,posteam_type,defteam,side_of_field,yardline_100,game_date,...,lateral_reception,lateral_rush,lateral_return,lateral_recovery,return_yards,replay_or_challenge,defensive_two_point_attempt,defensive_two_point_conv,defensive_extra_point_attempt,defensive_extra_point_conv
0,46,2009091000,PIT,TEN,PIT,home,TEN,TEN,30.0,2009-09-10,...,0.0,0.0,0.0,0.0,39.0,0,0.0,0.0,0.0,0.0
1,68,2009091000,PIT,TEN,PIT,home,TEN,PIT,58.0,2009-09-10,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
2,92,2009091000,PIT,TEN,PIT,home,TEN,PIT,53.0,2009-09-10,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
3,113,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
4,139,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0

In [13]:
df.drop(columns = ['lateral_return', 'lateral_recovery', 'replay_or_challenge',
       'defensive_two_point_attempt', 'defensive_two_point_conv', 'defensive_extra_point_attempt', 
        'defensive_extra_point_conv'], inplace = True)

In [14]:
df.head()

,play_id,game_id,home_team,away_team,posteam,posteam_type,defteam,side_of_field,yardline_100,game_date,...,two_point_attempt,field_goal_attempt,kickoff_attempt,punt_attempt,fumble,complete_pass,assist_tackle,lateral_reception,lateral_rush,return_yards
0,46,2009091000,PIT,TEN,PIT,home,TEN,TEN,30.0,2009-09-10,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,39.0
1,68,2009091000,PIT,TEN,PIT,home,TEN,PIT,58.0,2009-09-10,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,92,2009091000,PIT,TEN,PIT,home,TEN,PIT,53.0,2009-09-10,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,113,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,139,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
df.drop(columns = ['assist_tackle', 'extra_point_attempt', 'extra_point_prob', 'two_point_conversion_prob'],
                  inplace = True)

In [16]:
df.drop(columns = ['punt_in_endzone', 'third_down_converted', 'punt_inside_twenty', 
                   'punt_out_of_bounds', 'punt_fair_catch', 'kickoff_in_endzone', 'own_kickoff_recovery',
                  'kickoff_downed', 'two_point_attempt', 'kickoff_attempt'], inplace = True)

### Get rid of team names for now

I initially decided to get rid of team names because it was not numeric, but I decided to keep them for further eda on which teams are most successful on fourth down.

In [17]:
#df.drop(columns=['home_team', 'away_team', 'defteam', 'side_of_field'], inplace = True)

In [18]:
#df.head()

### Dropping certain epas

In [19]:
df.drop(columns = ['total_home_rush_epa', 'total_away_rush_epa', 'total_home_pass_epa', 'total_away_pass_epa', 
                 'comp_air_epa', 'comp_yac_epa'], inplace = True)

In [20]:
df.drop(columns=['total_home_comp_air_epa', 'total_away_comp_air_epa', 'total_home_comp_yac_epa', 
                'total_away_comp_yac_epa', 'total_home_raw_air_epa', 'total_away_raw_air_epa',
                'total_home_raw_yac_epa', 'total_away_raw_yac_epa'], inplace = True)

In [21]:
df.head()

,play_id,game_id,home_team,away_team,posteam,posteam_type,defteam,side_of_field,yardline_100,game_date,...,pass_touchdown,rush_touchdown,return_touchdown,field_goal_attempt,punt_attempt,fumble,complete_pass,lateral_reception,lateral_rush,return_yards
0,46,2009091000,PIT,TEN,PIT,home,TEN,TEN,30.0,2009-09-10,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39.0
1,68,2009091000,PIT,TEN,PIT,home,TEN,PIT,58.0,2009-09-10,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,92,2009091000,PIT,TEN,PIT,home,TEN,PIT,53.0,2009-09-10,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,113,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,139,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

# Save to csv

In [22]:
df.to_csv('../../datasets/less_feature_df.csv')